<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SHAPER---the app for getting in shape</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width" name="viewport" />
    <style>
        img {
            max-width: 100%;
        }
    </style>
</head>

<body>
<h1>WELCOME TO SHAPER</h1>
<div>If you already have your account </div> <a href="signin"> Signin </a><br>
<div>Othewise </div> <a href="newaccount"> Create a new account </a><br>
</body>
</html>