<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SHAPER---the app for getting in shape</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width" name="viewport" />
    <style>
        img {
            max-width: 100%;
        }
    </style>
</head>

<body>
<div>
    <table style="float:right; width: 20%;" align="right">
        <tr>
            <td>
            </td>
            <td>
                <div class="col-md-12" align="right"><a th:href="@{pathome(patientid=${patient.getId()})}">Home</a></div>
            </td>

        </tr>
    </table>
    <table style="float:right; width: 60%;" align="center" >
        <tr>
            <td>
                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div align="center" class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span> </span></div>
                        </div>

                    </div>
                </div>
            </td>


        </tr>
    </table>
    <table style="float:right; width: 20%;" align="left">
    </table>


</div>
<div style="clear:both; ">
</div>
<form action="editprofile" method="post">
<table style="width: 80%;" align="center">
    <tr>
        <td align="center">
            <input hidden class="col-md-12" th:value="${patient.getId()}" name="id">
            First Name: <input class="col-md-12" th:value="${patient.getFirstName()}" name="firstname">
        </td>
    </tr>
    <tr>
        <td align="center">
            Last Name: <input class="col-md-12" th:value="${patient.getLastName()}" name="lastname">
        </td>
    </tr>
    <tr>
        <td align="center">
            Date of Birth: <input class="col-md-12" th:value="${patient.getDateofBirth()}" name="dateofb">
        </td>
    </tr>
    <tr>
        <td align="center">
            Username: <input class="col-md-12" th:value="${patient.getUserName()}" name="username">
        </td>
    </tr>
    <tr>
        <td align="center">
            Password: <input class="col-md-12" th:value="${patient.getPassword()}" name="password">
        </td>
    </tr>
    <tr>
        <td align="center">
            <table align="center">
                <tr>
                    <td align="center">
                        Weight history:
                    </td>
                    <td align="center" th:each="weight: ${weights}">
                        <div class="col-md-12" th:text="${'On ' + weight[0] + ': ' + weight[1] + 'kg'}"></div>
                    </td>
                    <td align="center">
                        Add new weight:   Date: <input type="date" class="col-md-12" value="" name="weight1"> <br> Weight: <input type="text" class="col-md-12" value="" name="weight2">kg
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td align="center">
            <input type="submit" value="Edit Profile" />
        </td>
    </tr>


</table>
</form>





</body>
</html>

